<link rel="stylesheet" type="text/css" href="styleSheets/form.css">
<form action="/mocklink" method="POST">
    <div class="cards" id="formWrap">
        <div class="formFieldWrap">
            <input name="input1" class="cards inputText" type="text" placeholder="Type something" />
        </div>
        <div class="formFieldWrap">
            <input name="input2" class="cards inputText" type="text" placeholder="Type something" />
        </div>
        <div class="formFieldWrap">
            <input name="input3" class="cards inputText" type="text" placeholder="Type something" />
        </div>
        <div class="formFieldWrap">
            <input name="input4" class="cards inputText" type="text" placeholder="Type something" />
        </div>
        <div class="formFieldWrap">
            <input class="cards buttons inputButtons" type="submit" value="SUBMIT" />
        </div>
    </div>
</form>
