<link rel="stylesheet" type="text/css" href="styleSheets/menu.css">
<div class="cards" id="menuBarWrap">
    <div class="menuBarButtons">HOME</div>
    <div class="menuBarButtons">PAGE 1</div>
    <div class="menuBarButtons">PAGE 2</div>
</div>