<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="styleSheets/general.css">
        <link rel="stylesheet" type="text/css" href="styleSheets/index.css">
        <title>{{title}}</title>
    </head>
    <body>
        {{> menu}}
        <div id="content">
            {{> form}}
        </div>
    </body>
</html>