body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(224,224,224 ,1);
}

::-webkit-scrollbar {
    width: 0.4em;
    background: rgba(69,90,100 ,1);
}

::-webkit-scrollbar, ::-webkit-scrollbar-thumb {
    overflow:visible;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: rgba(207,216,220 ,0.8);
}

#content {
    position: absolute;
    width: 100vw;
    min-height: calc(100vh - 3em);
    top: 3em;
    left: 0;
}

.background {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transition: 0.3s;
}

.cards {
    border-radius: 2px;
    background-color: var(--card-color);
    box-shadow: 0.055em 0.055em 0.1em 0.02em rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}

.buttons {
    transition: 0.3s;
    box-shadow: 0.055em 0.055em 0.1em 0.02em rgba(0, 0, 0, 0.5);
}

.buttons:hover {
    cursor: pointer;
    box-shadow: 0.08em 0.08em 0.3em 0.07em rgba(0, 0, 0, 0.5);
    /* box-shadow: 0.1em 0.1em 0.3em 0.01em rgba(0, 0, 0, 0.5), 0px 0px 0px 0.35em rgba(255, 255, 255, 0.7) inset; */
}